@model Restaurant
@{
    ViewData["Title"] = "Restaurant";
}

<h1>@Model.Name</h1>

<p class="lead">Food served: <strong>@Model.Food</strong></p>
<p class="lead">Location: <strong>@Model.Address</strong></p>
<p class="lead">Opens at: <strong>@Model.OpenHour.ToString("HH:mm")</strong></p>
<p class="lead">Closes at: <strong>@Model.CloseHour.ToString("HH:mm")</strong></p>