@model Restaurant
@{
    ViewData["Title"] = "Restaurant";
}

<h1>@Model.Name</h1>
<p class="text-info">@Model.Address</p>

<p class="lead">Food served: <strong>@Model.Food</strong></p>
<p class="lead">Open between <strong>@Model.OpenHour.ToString("HH:mm") - @Model.CloseHour.ToString("HH:mm")</strong></p>