@model Restaurant
@{
    ViewData["Title"] = "Home Page";
}

<h1>@Model.Name</h1>
<h1>@Model.Food</h1>
<h1>@Model.Address</h1>
<h1>@Model.OpenHour.ToString()</h1>
<h1>@Model.CloseHour.ToString()</h1>
